In [94]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score,classification_report
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
#from sklearn.cross_validation import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report 

import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

In [95]:
df = pd.read_csv('telco-customer-churn/WA_Fn-UseC_-Telco-Customer-Churn.csv')
df.dropna(inplace=True)
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [96]:

for i in df:
    if i == 'customerID':
        pass
    else:
        for x in df[i]:
            if x in ['Female', 'No', 'Fiber optic', 'Month-to-month', 'Electronic check']:
                df[i].replace([x], [0], inplace = True)
            if x in ['Male', 'Yes', 'DSL', 'Two year', 'Mailed check']:
                df[i].replace([x], [1], inplace = True)
            if x in ['One year', 'No internet service', 'No phone service', 'Bank transfer (automatic)']:
                 df[i].replace([x], [2], inplace = True)
            if x in ['Credit card (automatic)']:
                df[i].replace([x], [3], inplace = True)

# df["TotalCharges"].replace([" "], [0],inplace = True)
# df["TotalCharges"] = df["TotalCharges"].astype('float')

ValueError: could not convert string to float:

In [ ]:
df.head()

In [ ]:
df.drop(['customerID'],axis = 1, inplace = True)
# df["TotalCharges"] = df["TotalCharges"].astype(int)
df.head()

In [ ]:
feature_cols = []
for i in df:
    if i == 'Churn':
        pass
    else:
        feature_cols.append(i)

X = df[feature_cols]
y = df["Churn"]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

classifier = DecisionTreeClassifier(criterion = "entropy", random_state = 100, max_depth = 3, min_samples_leaf = 4)
classifier = classifier.fit(X_train,y_train)